apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: REPLACE_ME_APP_NAME-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-parameter-store
    kind: SecretStore
  target:
    name: REPLACE_ME_APP_NAME-secrets
    creationPolicy: Owner
  data:
    - secretKey: OPENAI_API_KEY
      remoteRef:
        key: /REPLACE_ME_APP_NAME/qa/OPENAI_API_KEY